{
  "swagger": "2.0",
  "host": "services.neon-images.com",
  "basePath": "/api/v2",
  "info": {
    "description": "Provides consumers with the ability to hit Neon services.",
    "title": "Neon CMS API v2",
    "termsOfService": "TODO",
    "contact": {},
    "license": {
      "name": "TODO"
    },
    "version": "TODO"
  },
  "tags": [
    {
      "name": "track",
      "description": "Group Tracking Events"
    }
  ],
  "schemes": [
    "http"
  ],
  "paths": {

    "/accounts": {
      "post": {
        "tags": [
          "account"
        ],
        "summary": "Create account",
        "description": "",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "customer_name",
            "in": "query",
            "description": "The name of the customer.",
            "required": true,
            "type": "string"
          },
          {
            "name": "default_width",
            "in": "query",
            "description": "The default width of the account.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "default_height",
            "in": "query",
            "description": "The default height of the account.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "default_thumbnail_id",
            "in": "query",
            "description": "The id of the default thumbnail wanted for the account.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully created an account.",
            "schema": {
              "$ref": "#/definitions/account"
            }
          }
        }
      }
    },

    "/{account_id}": {
      "get": {
        "tags": [
          "account"
        ],
        "summary": "View account",
        "description": "",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "description": "ID of the account.",
            "required": true,
            "type": "string",
          }
        ],
        "responses": {
          "200": {
            "description": "The account associated with the requested ID.",
            "schema": {
              "$ref": "#/definitions/account"
            }
          }
        }
      },

      "put": {
        "tags": [
          "account"
        ],
        "summary": "Update account",
        "description": "",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "description": "ID of the account.",
            "required": true,
            "type": "string",
          },
          {
            "name": "default_width",
            "in": "query",
            "description": "The default width of the account.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "default_height",
            "in": "query",
            "description": "The default height of the account.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "default_thumbnail_id",
            "in": "query",
            "description": "The id of the default thumbnail wanted for the account.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The updated account associated with the requested ID.",
            "schema": {
              "$ref": "#/definitions/account"
            }
          }
        }
      }
    },

    "/{account_id}/integrations/brightcove": {
      "get": {
        "tags": [
          "integration",
          "brightcove"
        ],
        "summary": "View Brightcove integration",
        "description": "",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "description": "ID of the account.",
            "required": true,
            "type": "string",
          },
          {
            "name": "integration_id",
            "in": "query",
            "description": "ID of the integration.",
            "required": true,
            "type": "string",
          }
        ],
        "responses": {
          "200": {
            "description": "Return the integration with that `account_id` and `integration_id`.",
            "schema": {
              "$ref": "#/definitions/brightcove_integration"
            }
          }
        }
      },

      "post": {
        "tags": [
          "integration",
          "brightcove"
        ],
        "summary": "Create a Brightcove integration",
        "description": "",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "description": "ID of the account.",
            "required": true,
            "type": "string",
          },
          {
            "name": "publisher_id",
            "in": "query",
            "description": "ID of the publisher.",
            "required": true,
            "type": "string",
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/brightcove_integration"
            }
          }
        }
      },

      "put": {
        "tags": [
          "integration",
          "brightcove"
        ],
        "summary": "Update a Brightcove integration",
        "description": "",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "description": "ID of the account.",
            "required": true,
            "type": "string",
          },
          {
            "name": "integration_id",
            "in": "query",
            "description": "ID of the integration.",
            "required": true,
            "type": "string",
          },
          {
            "name": "publisher_id",
            "in": "query",
            "description": "ID of the publisher.",
            "required": false,
            "type": "string"
          },
          {
            "name": "read_token",
            "in": "query",
            "description": "Token for reading.",
            "required": false,
            "type": "string"
          },
          {
            "name": "write_token",
            "in": "query",
            "description": "Token for writing.",
            "required": false,
            "type": "string"
          },
          {
            "name": "playlist_feed_ids",
            "in": "query",
            "description": "List of feed_ids for this integration.",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          {
            "name": "uses_batch_provisioning",
            "in": "query",
            "description": "Whether or not to use batched provisioning.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "callback_url",
            "in": "query",
            "description": "URL to call after a video has been processed.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/brightcove_integration"
            }
          }
        }
      }
    }

  },
  "definitions": {
    "account": {
      "type": "object",
      "properties": {
        "tracker_account_id": {
          "type": "string"
        },
        "updated": {
          "type": "string",
          "format": "date-time"
        },
        "account_id": {
          "type": "string"
        },
        "created": {
          "type": "string",
          "format": "date-time"
        },
        "integration_ids": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "default_size": {
          "type": "array",
          "items": {
            "type": "integer"
          }
        },
        "staging_tracker_account_id": {
          "type": "string"
        },
        "default_thumbnail_id": {
          "type": "string"
        },
        "customer_name": {
          "type": "string"
        },
        "error": {
          "type": "string"
        },
      },
    },

    "brightcove_integration": {
      "type": "object",
      "properties": {
        "integration_id": {
          "type": "string"
        },
        "updated": {
          "type": "string",
          "format": "date-time"
        },
        "created": {
          "type": "string",
          "format": "date-time"
        },
        "callback_url": {
          "type": "string"
        },
        "account_id": {
          "type": "string"
        },
        "read_token": {
          "type": "string"
        },
        "write_token": {
          "type": "string"
        },
        "enabled": {
          "type": "boolean"
        },
        "video_still_width": {
          "type": "integer"
        },
        "id_field": {
          "type": "string"
        },
        "last_process_date": {
          "type": "string",
          "format": "date-time"
        },
        "auto_update": {
          "type": "boolean"
        },
        "rendition_frame_width": {
          "type": "integer"
        },
        "linked_youtube_account": {
          "type": "boolean"
        },
        "key": {
          "type": "string"
        },
        "uses_batch_provisioning": {
          "type": "boolean"
        },
        "playlist_feed_ids": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "publisher_id": {
          "type": "string"
        },
        "account_created": {
          "type": "number"
        },
        "error": {
          "type": "string"
        },
      }
    },

    "ooyala_integration": {
      "type": "object",
      "properties": {
        "integration_id": {
          "type": "string"
        },
        "updated": {
          "type": "string",
          "format": "date-time"
        },
        "created": {
          "type": "string",
          "format": "date-time"
        },
        "callback_url": {
          "type": "string"
        },
        "account_id": {
          "type": "string"
        },
        "ooyala_api_key": {
          "type": "string"
        },
        "ooyala_api_secret": {
          "type": "string"
        },
        "enabled": {
          "type": "boolean"
        },
        "video_still_width": {
          "type": "integer"
        },
        "id_field": {
          "type": "string"
        },
        "last_process_date": {
          "type": "string",
          "format": "date-time"
        },
        "auto_update": {
          "type": "boolean"
        },
        "rendition_frame_width": {
          "type": "integer"
        },
        "linked_youtube_account": {
          "type": "boolean"
        },
        "key": {
          "type": "string"
        },
        "uses_batch_provisioning": {
          "type": "boolean"
        },
        "playlist_feed_ids": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "publisher_id": {
          "type": "string"
        },
        "account_created": {
          "type": "number"
        },
        "error": {
          "type": "string"
        },
      }
    }
  }
}
